textarea {
    resize: none;
}
.about-us{
    margin-left: 15%;
    width: 70%;
}
.become-member{
    margin-left: 15%;
}

.current_display{
    margin-bottom: 300px;
}
.upcoming-events{
    margin-bottom: 300px;
    margin-left: 15%;
}
.event-1{
    float: left;
    width: 300px;
    text-align: center;
    margin-right: 2em;
}
.event-2{
    text-align: center;
    width: 300px;
    float: left;
}
.event-3{
    float: left;
    text-align: center;
}
.eventimage{
    height: 200px;
    width: auto;
}

.event-content{
    margin-bottom: 300px;
    margin-left: 15%;
}
.eventpage-image{
    height: 200px;
    width: auto;
}
.addevent-table{
    border-collapse: collapse;
    text-align: center;
    width: 400px;
    background-color: #778899;
    margin-bottom: 1em;
}
.event-table{
    border-collapse: collapse;
    text-align: center;
    width: 60%;
    background-color: #EEEEEE;
    margin-bottom: 1em;
    transition: background-color 1s;
}
.event-table:hover{
    background-color: #778899;
}
#add{
    margin-right: 20px;
    margin-left: 20px;
	background-color:#778899;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #778899;
	display:inline-block;
	cursor:pointer;
	color:#0066CC;
	font-family:Arial;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    transition: color 1s;
}
#add:hover{
    color: #000;
}

.event-item{
    margin-bottom: 30px;
}

.button {
    margin-right: 20px;
    margin-left: 20px;
	background-color:#778899;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #778899;
	display:inline-block;
	cursor:pointer;
	color:#0066CC;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    transition: background-color 1s, color 1s;
}
.button:hover {
	background-color:#476e9e;
    color: #000;
}
.button:active {
	position:relative;
	top:1px;
}
.event-button{
    margin-right: 20px;
    margin-left: 70px;
	background-color:#778899;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #778899;
	display:inline-block;
	cursor:pointer;
	color:#0066CC;
	font-family:Arial;
	font-size:100px;
	padding:0px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    transition: background-color 1s, color 1s;
}
.event-button:hover{
    background-color:#476e9e;
    color: #000;
}
.seemore{
    font-size: 30px;
}
.musician-content{
    margin-left: 15%;
    margin-bottom: 170px;
    width: 70%;
    text-align: center;
}
.musician-content a{
    text-decoration: none;
    color: black;
    transition: 1s color;
}
.musician-content a:hover{
    color: #0066CC;
    
}
.musician-content img{
    height: 200px;
    width: auto;
}
.artist-formcontent{
    margin-left: 15%;
}

.subtleSet{
    width: 70%;
}
#deleteForm{
    margin-bottom: 10px;
}
.sign-up-content{
    margin-left: 15%;
    margin-bottom: 300px;
}
.sign-up-content #submit{
    margin-right: 20px;
    margin-left: 20px;
	background-color:#778899;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #778899;
	display:inline-block;
	cursor:pointer;
	color:#0066CC;
	font-family:Arial;
	font-size:17px;
	padding:1px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    transition: background-color 1s, color 1s;
}
.sign-up-content #submit:hover{
    color: black;
    background-color: #283966; 

}
.bulletin-content{
    margin-bottom: 300px;
    margin-left: 15%;
}
.bulletin-content img{
    height: 200px;
    width: auto;
}
#deleteBBForm{
    text-align: center;
    width: 80%; 
    padding: 10px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    transition: background-color 1s;

}
#deleteBBForm:hover{
    background-color: #778899;
}
.event-form{
    margin-bottom: 300px;
}
.addevent-content{
    margin-left: 15%;
    margin-top: 0;
}


.current-artists-table tr{
    background-color: #EEEEEE; 
    transition: background-color 1s, border 1s;
}
.current-artists-table tr:hover{
    background-color: #778899;

}
.adduser-content{
    margin-left: 15%;
}
.welcome-content{
    margin-left: 15%;
}
.logout-content{
    margin-left: 15%;
}
.login-content{
    margin-left: 15%;
}
.feeder-content{
    margin-left:  15%;
}
.bb-form table{
    background-color: #778899;
    border: 1px solid black;
}
.payment{
    margin-left: 15%;
}











