@charset "utf-8";
body {
	background-repeat: no-repeat;
	background-position: 50% 0%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	opacity: 1;
	background-color: #eeeeee;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	width: 850px;
}
#header {
	background-color: #7E8D92;
	width: 850px;
}
#footer {
	background-color: #13181B;
	color: #FDFEFF;
	padding-left: 20px;
	padding-top: 5px;
	text-align: left;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	padding-bottom: 10px;
	width: 850px;
}
#CelticFyrePic {
	display: block;
	margin-left: auto;
	margin-right: auto;

}
#TopBanner img {
	float: left;
}
#TopBanner .NavBar {

}
h2 {
}
#header img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
a:link {
	color: #0066CC;
}
a:hover {
	color: #00BBFF;
	text-decoration: underline;
}
.CelticFyrePic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
